@import url("https://fonts.googleapis.com/css2?family=Gurajada&display=swap");



/* Width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 143, 143);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666464;
}





.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem 1rem;
  margin: 0 0 0 0;
  background-color: #e6dff1;
  height: 100vh;
  /* overflow: hidden; */
}

.top {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;
}

.logo {
  flex-grow: 7;
  font-size: 3.5rem;
  font-family: Gurajada;
  font-weight: 400;
  height: fit-content;
  margin: 0rem 0rem 0rem 8rem;
}

.top-sub {
  margin-top: 0.75rem;
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
}

.about,
.blog,
.services {
  font-size: 1.5rem;
  padding: 1.2rem 2rem 0rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.loginTop {
  flex-grow: 0.3;
  width: fit-content;
  height: fit-content;
  margin: 0.75rem 2rem 0rem 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  white-space: nowrap;
  color: #e6dff1;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.loginTopLink {
  text-decoration: none;
  color: #e6dff1;
}

.body {
  padding: 0rem 0rem 0rem 0rem;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  left: 0;
  padding: 1rem 4rem 0rem 8rem;
  margin: 0 0 0 0;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  font-size: 120%;
  width: 50%;
}

.large-text1 {
  padding: 3.5rem 1rem 0rem 0rem;
  font-size: 5.8rem;
  font-weight: 750;
  color: #3a3148;
  white-space: nowrap;
}

.large-text2 {
  padding: 0rem 1rem 2rem 0rem;
  font-size: 5.8rem;
  font-weight: 750;;
  color: #3a3148;
}

.sub-text1 {
  padding: 0.2rem 1rem 0rem 0.2rem;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: lighter;

}

.sub-text2 {
  padding: 0rem 1rem 0.2rem 0.2rem;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: lighter;
}

.signup {
  margin-top: 2rem ;
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  width: fit-content;
  border: none;
  background-color: black;
  
  text-align: left;
  font-size: 1.2rem;
  color: #e6dff1;
}

.signupLink {
  text-decoration: none;
  color: #e6dff1;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-text {
  margin-top: 2.5rem ;
  padding: 0rem 0rem 0rem 0rem;
  font-size: 27px;
  font-weight: light;
}

.loginMainLink {
  text-decoration: none;
  color: #8265b1;
  font-weight: bold;
}

.loginMainLink:hover {
  text-decoration: underline;
}

.right {
  right: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  width: 50%;
  padding: 1rem;
}

.block1{
  display: flex;
  flex-direction: row;
  margin: 0 0 -3rem -4rem;
}

.purple-box{
  margin: 0 0 0 -8.5rem;
  width: 16rem;
  height: 23rem;
  background: #5A4C71;
  z-index: 2;
}

.image1 {
  width: 20rem;
  height: 20rem;
  scale: 0.75;
  z-index: 4;
}
.image1 img{
  width: 30rem;
}
.image2 img{
  width: 40rem;
}
.block2{
  display: flex;
  flex-direction: row;
  margin: -4rem 0 0 -5rem;
  height: 100%;
}

.peach-box{
  margin: 0 0 0 -5rem;
  width: 20rem;
  /* height: 23.8rem; */
  height: 100%;
  height: 80%;

  background: #FED0AB;
  z-index: 1;
}

.image2{
  width: 20rem;
  height: 20rem;
  scale: 0.75;
  z-index: 3;
}
